<label class="item item-input item-select">
    <div class="input-label">
        Mês
    </div>
    <select ng-model="month" ng-change="changeSelectedItem(month, 'month')">
        <option value="1">Janeiro</option>
        <option value="2">Fevereiro</option>
        <option value="3">Março</option>
        <option value="4">Abril</option>
        <option value="5">Maio</option>
        <option value="6">Junho</option>
        <option value="7">Julho</option>
        <option value="8">Agosto</option>
        <option value="9">Setembro</option>
        <option value="10">Outubro</option>
        <option value="11">Novembro</option>
        <option value="12">Dezembro</option>
    </select>
</label>

<label class="item item-input item-select">
    <div class="input-label">
        Escola
    </div>
    <select ng-model="schoolSchedule" ng-change="changeSelectedItem(schoolSchedule, 'schoolSchedule')">
        <option ng-repeat="X in data | unique : 'school'" value="{{X.id}}">{{X.school}}</option>
    </select>
</label>

<div class="list card" ng-repeat="X in classesLessons | unique : 'date' | orderBy : ['class', 'date']">
    <div class="item">
        <h2>{{X.class}}</h2>
    </div>
    <div class="item item-body">
        {{X.lesson}}
        <span class="span">dia {{X.date}}</span>
    </div>
</div>